@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: s "Roboto", sans-serif;
}
:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-ed464d: #ed464d;
  --color-c3d4da: #c3d4da;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
.logo-vertical {
  height: 64px;
  margin: 16px;
  background: var(--color-ffd333);
  border-radius: 3px;
}
.sm-logo {
  display: none;
}
.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}
.ant-layout {
  min-height: 100vh;
}
.form-control {
  box-shadow: none;
  border-color: var(--color-c3d4da);
}
.title {
  font-size: 28px;
  font-family: Roboto !important;
  color: var(--color-212529);
}
.subtitle {
  font-size: 24px;
  font-family: Roboto !important;
  color: var(--color-212529);
}
.desc {
  font-size: 14px;
  font-family: Roboto !important;
  color: var(--color-828599);
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.sm-logo {
  display: none;
}
.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
main {
  overflow-y: scroll;
  height: 85vh;
  background: transparent !important;
}
main::-webkit-scrollbar {
  width: 0px;
}
.red {
  color: var(--color-e52e2e);
  font-size: 14px;
  font-family: Roboto !important;
}
.green {
  color: var(--color-47ad24);
  font-size: 14px;
  font-family: Roboto !important;
}
.quill {
  background: white;
  height: 200px;
}
.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid var(--color-c3d4da);
}
.ql-container.ql-snow {
  border: none;
}
.ant-menu-title-content {
  font-size: 16px;
  line-height: 1.5;
}
.ant-layout-header h5 {
  line-height: 1.5;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 1;
  font-size: 13px;
}
.user-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.dropdown-menu {
  inset: 15px auto auto 0px !important;
  line-height: 1.5;
  border: none;
}
