@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: s "Roboto", sans-serif;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}
.logo-vertical {
  height: 64px;
  margin: 16px;
  background: #ffd333;
  border-radius: 3px;
}
.sm-logo {
  display: none;
}
.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}
.ant-layout {
  min-height: 100vh;
}
.form-control:focus {
  border-color: rgba(19, 38, 77, 0.2);
  box-shadow: 0 0 0 3px rgba(19, 38, 77, 0.125);
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.sm-logo {
  display: none;
}
.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.main {
  overflow-y: scroll;
}
